img{
    width:75px;
    height:75px;
}
.jumbotron{
    background-image: linear-gradient();
    background-repeat: no-repeat;
    background-position: right;
    background-color: #FDD65C;
    text-align: center;
 }