<div class="jumbotron">

<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="../../assets/map.png"></div>
    <div class="col-sm">
      <img src="../../assets/telephone.png">
    </div>
    <div class="col-sm">
      <img src="../../assets/black-envelope.png">
    </div>
  </div>

    <div class="row">
      <div class="col-sm">ADDRESS</div>
      <div class="col-sm">PHONE</div>
      <div class="col-sm">EMAIL</div>
    </div>

  <div class="row">
    <div class="col-sm">Rachelsmolen 1</div>
    <div class="col-sm">Proep Leader</div>
    <div class="col-sm">Proep Secretary</div>
  </div>

  <div class="row">
    <div class="col-sm">5612MA, Eindhoven</div>
    <div class="col-sm">Ann Vesnenok</div>
    <div class="col-sm">Mirela Goranova</div>
  </div>

  <div class="row">
    <div class="col-sm">North Brabant</div>
    <div class="col-sm">+31615181192</div>
    <div class="col-sm">m.goranova@fontys.nl</div>
  </div>
  
</div>
</div>