<ActionBar title="Login" class="action-bar"></ActionBar>
<StackLayout class="page">
        <Image src="res://icon" height="200" width="200" id="logo"></Image>
        <Label textWrap="true" text="Welcome to MindYou! Start your journey by log in with Facebook :)" id="Label"></Label>
    <Button  type="button" class="btn btn-primary" id="button" text="Login with facebook" (tap)="onTapLogin()"></Button>
    <!--<Button class="btn btn-primary btn-active" id="button" text="Logout" (tap)="onTapLogout()"></Button>-->
   
</StackLayout>
