<body>
	<div style="width:75%;">
		<canvas id="line-chart"></canvas>
  </div>
  
  <div class="row">
    <div class="col" style="height:75px"> </div>
</div>

  <div style="width:75%;">
    <canvas id="dif-point-chart"></canvas>
</div>

<div class="row">
    <div class="col" style="height:75px"> </div>
</div>

<div style="width:50%;">
    <canvas id="bubble-chart"></canvas>
</div>

<div class="row">
    <div class="col" style="height:75px"> </div>
</div>

<div style="width:50%;">
    <canvas id="single-activity-chart"></canvas>
</div>

  </body>