<body>
    <div class=row>
            <div ngbDropdown class="d-inline-block" style="margin-left:20px;">
                    <button class="btn btn-outline-primary nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Activity</button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1" ngbDropdownMenu >
                        <button class="dropdown-item" >Daily</button>
                        <button class="dropdown-item" >Weekly</button>
                        <button class="dropdown-item" >Monthly</button>
                    </div>
                </div>
	<div style="width:75%;">
		<canvas id="line-chart"></canvas>
  </div>
</div>
  <div class="row">
    <div class="col" style="height:75px"> </div>
</div>

  <div style="width:75%;">
    <canvas id="dif-point-chart"></canvas>
</div>




  </body>