img {
    width: 250px;
    height:450px;
    padding-right: 5px;
}
.jumbotron{
    padding-left: 20%;
    padding-right: 20%;
    background-image: url(../../assets/k1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-color: #FDD65C;
}
.btn{
    background-color: #FF7816;
}