<div class="jumbotron">
    <h1 class="display-4">Tired of your routine?</h1>
    <p class="lead">Tracking your daily activities has never been easier! With the MindYou app you can track your daily activities and see statistics, as well as get new creative ideas of things you can do!</p>
    <hr class="my-4">
    <p>On this website you can see the overview of your activities, but tracking them can be done on the mobile app. </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Download App</a>
    </p>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <img src="../../assets/w1.png">

            <img src="../../assets/newStats.jpg">
        </div>
        <div class="col">
            "MindYou" is an application that aims to help you to be happier by the activities we all do in our daily life. It can be used to inform you of what and how much time you do something in an easy and unobtrusive way. It also makes suggestions on how to keep your days fresh and not get stuck in a routine by advising you to maybe take a walk in the park during a stressful week, or cook a nice meal or do your favourite sport if you haven't done so recently. Additionally, your friends can invite you to join them in one of their activities or suggest to you something you maybe never tried, but might be interested to try.
        </div>
    </div>
</div>