<!--<ActionBar title="Details" class="action-bar"></ActionBar>-->
<FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="item.activityBlueprintId + '. '"></Label>
        <Label class="h2" [text]="item.name"></Label>
    </FlexboxLayout>
    <!--<Label class="h4" [text]="item.role"></Label>-->
    <Label id="timer" [text]="'Time spent: ' + seconds"></Label>
    <Button class="btn btn-primary btn-active" id="button" text="Start!" (tap)="onTapStart()"></Button>
    <Button class="btn btn-primary btn-active" id="button" text="Stop!" (tap)="onTapStop()"></Button>
</FlexboxLayout>
