<!--
The template defines the view of the component - what is actually rendered.
In NativeScript applications the template is defined with XML using NativeScript UI elements.
It is different from HTML. So instead of <input>, <span>, <div> etc. - we have <TextField>, <Label> and layouts.
The important thing is that although the elements are different - all of the Angular’s template syntax works exactly the same.
So you can still use template expressions, bindings, templates as well as all the built-in directives.
-->

<!--
The ActionBar is the NativeScript common abstraction over the Android ActionBar and iOS NavigationBar.
http://docs.nativescript.org/ui/action-bar
-->
<!--<ActionBar title="My App" class="action-bar">-->
<!--</ActionBar>-->

<!--
The StackLayout stacks UI components on the screen — either vertically or horizontally.
In this case, the StackLayout does vertical stacking; you can change the stacking to
horizontal by applying a orientation="horizontal" attribute to the <StackLayout> element.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of several CSS class names that are part of the NativeScript
core theme, such as p-20, btn, h2, and list-group. You can view a full list of the
class names available for styling your app at https://docs.nativescript.org/ui/theme.
-->
<ActionBar title="Activities" class="action-bar"></ActionBar>

<!-- <RadSideDrawer tkExampleTitle tkToggleNavButton>
        <StackLayout tkDrawerContent class="sideStackLayout">
            <StackLayout class="sideTitleStackLayout">
                <Label text="Navigation Menu"></Label>
            </StackLayout>
            <StackLayout class="sideStackLayout">
                <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
                <Label text="Social" class="sideLabel"></Label>
                <Label text="Promotions" class="sideLabel"></Label>
                <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
                <Label text="Important" class="sideLabel"></Label>
                <Label text="Starred" class="sideLabel"></Label>
                <Label text="Sent Mail" class="sideLabel"></Label>
                <Label text="Drafts" class="sideLabel"></Label>
            </StackLayout>
            <Label text="Close Drawer" color="lightgray" padding="10" (tap)="onCloseDrawerTap()"></Label>
        </StackLayout>
        <StackLayout tkMainContent>
            <Label [text]="mainContentText" textWrap="true" class="drawerContentText"></Label>
            <Button text="OPEN DRAWER" (tap)="openDrawer()" class="drawerContentButton"></Button>
        </StackLayout>
    </RadSideDrawer> -->


<StackLayout class="page">
    <!-- <Button class="btn btn-primary btn-active" id="button" text="Login facebook" (tap)="onTapLogin()"></Button>-->
    <!-- <Button class="btn btn-primary btn-active" id="button" text="Logout" (tap)="onTapLogout()"></Button>  -->
    <Image src="res://icon" height="100" width="100" id="logo"></Image>
    <!-- <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/home/item', item.activityBlueprintId]" [text]="item.name"
                   class="list-group-item"></Label>
        </ng-template>
    </ListView> -->

    <TextField hint="Input the name of your custom activity" [(ngModel)]="customActivity"></TextField>
    <Button class="btn btn-primary btn-active" id="button" text="Create my own activity" (tap)="onTapCreateActivity()"></Button>
    <Label *ngIf="isVisible" id="timer" [text]="'Time spent: ' + hours + ' h ' + minutes + ' min '  + second + ' sec'"></Label>
    <GridLayout tkExampleTitle tkToggleNavButton class="page">
        <RadListView [items]="_dataItems" selectionBehavior="Press" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
        <!--<RadListView [(ngModel)]="radListViewActivities" selectionBehavior="Press" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)" >-->
                <ng-template tkListItemTemplate let-item="item">
                    <StackLayout orientation="vertical" [ngStyle]="{backgroundColor: item.suggested ? 'green' : 'white'}">
                        <Label class="nameLabel" style=" text-align: center"  [text]="item.name"></Label>
                        <Label class="descriptionLabel" [text]="item.description"></Label>
                    </StackLayout>
                </ng-template>
                <ListViewStaggeredLayout tkListViewLayout scrollDirection="Vertical" spanCount="3"></ListViewStaggeredLayout>
            </RadListView>             
</GridLayout>
</StackLayout>

<!-- [nsRouterLink]="['/home/item', item.activityBlueprintId]" -->