<GridLayout height="60" verticalAlignment="bottom">
    <GridLayout columns="*, *, *" height="60" backgroundColor="#0D0D12">
        <GridLayout #tabHighlight col="0" backgroundColor="#F8A200"></GridLayout>
        <GridLayout col="0" [nsRouterLink]="['/home']" (tap)="selectTab(0)">
            <Image #image1 src="~/assets/ic_home_white.png" height="23" width="23"></Image>
        </GridLayout>
        <GridLayout col="1" [nsRouterLink]="['/statistic']" (tap)="selectTab(1)">
            <Image #image2 src="~/assets/ic_statistic_white.png" height="25" width="25"></Image>
        </GridLayout>
        <GridLayout col="2" [nsRouterLink]="['/feed']" (tap)="selectTab(2)">
            <Image #image3 src="~/assets/ic_feed_white.png" height="25" width="25"></Image>
        </GridLayout>
    </GridLayout>

</GridLayout>
