<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body>
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img id="image"/>
          <div class="file btn btn-lg btn-primary">
            Change Photo
            <input type="file" name="file"/>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5 id="name">
          </h5>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link " id="profile-tab" data-toggle="tab" routerLink="/profile" role="tab" aria-controls="profile" aria-selected="false">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" id="timeline-tab" data-toggle="tab" routerLink="/timeline" role="tab" aria-controls="timeline" aria-selected="true">Timeline</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="profile-work">
          <p>INTERESTS</p>
          <a href="">Art</a><br/>
          <a href="">Interior Design</a><br/>
          <a href="">Music</a>
          <p>HOBBIES</p>
          <a href="">Reading</a><br/>
          <a href="">Gym</a><br/>
          <a href="">Playing guitar</a><br/>
          <a href="">Hiking</a><br/>
        </div>
      </div>
      <div class="col-md-8">
        <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          </div>


          <h2>Activity Feed</h2>
          <div class="activity-feed">
            <div class="feed-item">
              <div class="date">Sep 25</div>
              <div class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a></div>
            </div>
            <div class="feed-item">
              <div class="date">Sep 24</div>
              <div class="text">Added an interest “Volunteer Activities”</div>
            </div>
            <div class="feed-item">
              <div class="date">Sep 23</div>
              <div class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a></div>
            </div>
            <div class="feed-item">
              <div class="date">Sep 21</div>
              <div class="text">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a></div>
            </div>
            <div class="feed-item">
              <div class="date">Sep 18</div>
              <div class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a></div>
            </div>
            <div class="feed-item">
              <div class="date">Sep 17</div>
              <div class="text">Attending the event <a href="single-event.php">“Some New Event”</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</body>
<router-outlet></router-outlet>
