.friend {
    background-color: #54BA76;
    /*color: #54BA76;*/
    color: green;
}

.decline {
    background-color: red;
    /*color: #54BA76;*/
    /*color: red;*/
}

.pending {
    background-color: #E0CBA0;
    /*color: #E0CBA0;*/
}

.list-btn {
    horizontal-align: right;
    align: right;
}

.notificationAndroid{
    background: red;
    width:22;
    height: 22;
    margin-top: 12%;
    margin-left: 25;
    border-radius:30;
    z-index:100;
    color: #fff;
    font-size: 13;
    padding-top: 1;
}

.shared{
    background-color: #f45c42;
}

.suggestionSize{
font-size: 16;
}