<ActionBar title="Friends"></ActionBar>
<GridLayout sdkExampleTitle sdkToggleNavButton>
    <!-- >> tab-view-navigation-ng-html -->
    <TabView [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout *tabItem="{title: 'Friends'}">
            <StackLayout class="page">
                <ListView [items]="friends" class="list-group">
                    <ng-template let-item="item" horizontalAlignment="stretch">
                        <StackLayout orientation="horizontal" horizontalAlignment="stretch" class="list-group-item">
                        <Label [nsRouterLink]="['/home/friend', item.id]" [text]="item.name" class="list-group-item"></Label>
                        <Button id = "InviteButton" text="Invite for activity"  class="list-btn friend" [ngClass]="{'shared': item.invitationShared}"  horizontalAlignment="right" [class.button-clicked]="buttonClicked" (tap)="sendInvitation(item,$event)"></Button>
                        <!--<Label text="1" class="notificationAndroid"></Label>-->
                        <!--<Label text="" style="font-size:25;margin-top:-15" class="font-awesome"/</ng-template>-->
                       </StackLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Users'}">
            <StackLayout class="page">
                <SearchBar hint="Search ..." [text]="searchPhrase" (textChange)="onTextChanged($event)"
                           (submit)="onSubmit($event)" color="white" textFieldBackgroundColor="red"
                           textFieldHintColor="white"></SearchBar>
                <ListView [items]="users" class="list-group">
                    <ng-template let-item="item">
                        <!--<Label [nsRouterLink]="['/home/friend', item.id]" [text]="item.name" [class.friend]="item.isFriend" class="list-group-item friend"></Label>-->
                        <Label [text]="item.name" [ngClass]="{'friend': item.isFriend, 'pending': item.requested}" (tap)="addFriend(item)" class="list-group-item"></Label>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Feed'}">
            <StackLayout>
                <StackLayout *ngIf="suggestion" orientation="horizontal" horizontalAlignment="stretch" class="list-group-item">
                    <Label [text]="suggestion.toString()" class="suggestionSize"></Label>
                    <Button text="Accept" class="list-btn friend" (tap)="acceptSuggestion()"></Button>
                    <Button text="Decline" class="list-btn decline" horizontalAlignment="right" (tap)="denySuggestion()"></Button>
                </StackLayout>
                <ListView [items]="receivedInvitations" class="list-group">
                    <ng-template let-item="item" horizontalAlignment="stretch">
                        <StackLayout orientation="vertical" horizontalAlignment="stretch" class="list-group-item">
                            <Label [text]="item.inviterUser.name + ' invites for ' + item.activityBlueprint.name"></Label>
                          
                            <Button  text="Go!" class="friend" horizontalAlignment="right" (tap)="acceptInvitation(item.invitationId,$event)"></Button>
                            <Button  text="Can't go." class="decline" horizontalAlignment="right" (tap)="declineInivitation(item.invitationId)"></Button>
                       
                        </StackLayout>
                    </ng-template>
                </ListView> 
                <ListView [items]="received" class="list-group">
                    <ng-template let-item="item" horizontalAlignment="stretch">
                        <StackLayout orientation="horizontal" horizontalAlignment="stretch" class="list-group-item">
                            <Label [text]="item.inviterUser.name"></Label>
                            <Button text="Accept" class="list-btn friend" (tap)="acceptFriendRequest(item.friendshipId)"></Button>
                            <Button text="Decline" class="list-btn decline" horizontalAlignment="right" (tap)="declineFriendRequest(item.friendshipId)"></Button>
                        </StackLayout>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
    </TabView>
</GridLayout>
