<ActionBar title="Friends"></ActionBar>
<GridLayout sdkExampleTitle sdkToggleNavButton>
    <!-- >> tab-view-navigation-ng-html -->
    <TabView [(ngModel)]="tabSelectedIndex" (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <StackLayout *tabItem="{title: 'Friends'}">
            <StackLayout class="page">
                <ListView [items]="friends" class="list-group">
                    <ng-template let-item="item">
                        <Label [nsRouterLink]="['/home/friend', item.id]" [text]="item.name" class="list-group-item"></Label>
                        <!--<Label text="1" class="notificationAndroid"></Label>-->
                        <!--<Label text="" style="font-size:25;margin-top:-15" class="font-awesome"/</ng-template>-->
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Users'}">
            <StackLayout class="page">
                <SearchBar hint="Search ..." [text]="searchPhrase" (textChange)="onTextChanged($event)"
                           (submit)="onSubmit($event)" color="white" textFieldBackgroundColor="red"
                           textFieldHintColor="white"></SearchBar>
                <ListView [items]="users" class="list-group">
                    <ng-template let-item="item">
                        <!--<Label [nsRouterLink]="['/home/friend', item.id]" [text]="item.name" [class.friend]="item.isFriend" class="list-group-item friend"></Label>-->
                        <Label [text]="item.name" [ngClass]="{'friend': item.isFriend, 'pending': item.requested}" (tap)="addFriend(item)" class="list-group-item"></Label>
                    </ng-template>
                </ListView>
            </StackLayout>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Feed'}">
            <StackLayout>
                <StackLayout  orientation="horizontal" horizontalAlignment="stretch" class="list-group-item">
                    <Label [text]="suggestion.toString()"></Label>
                    <Button text="Accept" class="list-btn friend" (tap)="acceptSuggestion()"></Button>
                    <Button text="Decline" class="list-btn decline" horizontalAlignment="right" (tap)="denySuggestion()"></Button>
                </StackLayout>
                <StackLayout *ngIf="invitation" orientation="horizontal" horizontalAlignment="stretch" class="list-group-item">
                    <Label [text]="invitation.toString()"></Label>
                    <Button text="Accept" class="list-btn friend" (tap)="acceptInvitation(invitation.invitationId)"></Button>
                    <Button text="Decline" class="list-btn decline" horizontalAlignment="right" (tap)="declineInivitation(invitation.invitationId)"></Button>
                </StackLayout>
                <ListView [items]="received" class="list-group">
                    <ng-template let-item="item" horizontalAlignment="stretch">
                        <StackLayout orientation="horizontal" horizontalAlignment="stretch" class="list-group-item">
                            <!--<Label (tap)="acceptFriendRequest(item.friendshipId)" [text]="item.inviterUser.name" class="list-group-item"></Label>-->
                            <Label [text]="item.inviterUser.name"></Label>
                            <Button text="Accept" class="list-btn friend" (tap)="acceptFriendRequest(item.friendshipId)"></Button>
                            <Button text="Decline" class="list-btn decline" horizontalAlignment="right" (tap)="declineFriendRequest(item.friendshipId)"></Button>
                        </StackLayout>
                    </ng-template>

                    <!--<ListView.itemTemplate>-->

                    <!--</ListView.itemTemplate>-->
                </ListView>
                <!--<Label [text]="tabSelectedIndexResult" class="h2 m-t-16 text-center" textWrap="true"></Label>-->
                <!--<Button text="Change Tab via ngModel" (tap)="changeTab()" class="btn btn-primary btn-active"></Button>-->
            </StackLayout>
        </StackLayout>
    </TabView>
    <!-- << tab-view-navigation-ng-html -->
</GridLayout>
