
<div  *ngIf="show; else notShow">
    <nav class="navbar navbar-expand-sm bg-light navbar-light" >
        <ul class="navbar-nav"  >
                <a class="navbar-brand" href="home">
                    <img alt="Brand" src="../assets/logo.png">
                </a>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-primary nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Statistics</button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownBasic1" ngbDropdownMenu >
                        <button class="dropdown-item" routerLink="/statistics">Daily</button>
                        <button class="dropdown-item" routerLink="/newstats">Weekly</button>
                        <button class="dropdown-item" routerLink="/mstats">Monthly</button>
                    </div>
                </div>
                
            <!-- <li class="nav-item">
                <a class="nav-link"  routerLink="/statistics" routerLinkActive="active">Statistics</a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link"  routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>

           

            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="LogOut()" routerLink="/home">Log Out</a>
                  </div>
            </li> -->

            <li class="nav-item">
                <a class="nav-link"  routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            
            <li class="nav-item">
                    <a class="form-control mr-sm-2" (click)="LogOut()" routerLink="/home" routerLinkActive="active">Log Out</a>
                </li>
        </ul>
    </nav>
    </div>
    
<ng-template #notShow>
<nav class="navbar navbar-expand-sm bg-light navbar-light" >
    <ul class="navbar-nav"  >
            <a class="navbar-brand" href="home">
                <img alt="Brand" src="../assets/logo.png">
            </a>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link"  routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  routerLink="/login" routerLinkActive="active">Log In</a>
        </li>
    </ul>
</nav>
</ng-template>
<router-outlet></router-outlet>