

<div class="jumbotron">
    <div class="container">
        <div class="row">
    <div class="col-sm"></div>

        <div class="col-sm">
                    <img src="../../assets/mindyouLogo.png">     
        </div>

    <div class="col-sm"></div>
</div>
</div>

<div class="container">
        <div class="row">
        <div class="col-sm"></div>

        <div class="col-sm">
            <p> </p>
        </div>

       <div class="col-sm"></div>
       </div>
</div>

<div class="container">
        <div class="row">
        <div class="col-sm"></div>
    
        <div class="col-sm">
                <button (click)="LogIn()">Log in with Facebook</button>
        </div>
        <div class="col-sm"></div>
</div>
    </div>

    <div class="container">
            <div class="row">
            <div class="col-sm"></div>
        
            <div class="col-sm">
            <p>  </p>
            </div>
            <div class="col-sm"></div>
            </div>
        </div>
        
<div class="container">
    <div class="row">
    <div class="col-sm"></div>

    <div class="col-sm">
    <p>Welcome to MindYou! Start your journey by logging in with Facebook :)</p>
    </div>
    <div class="col-sm"></div>
    </div>
</div>

<div class="container">
        <div class="row">
        <div class="col-sm"></div>
    
        <div class="col-sm">
        <p> </p>
        </div>
        <div class="col-sm"></div>
        </div>
    </div>
    
</div>