<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<page-router-outlet></page-router-outlet>

<GridLayout rows="*, auto" backgroundColor="#26252A">
    <StackLayout row="0">

        <router-outlet></router-outlet>

    </StackLayout>

    <BottomBar row="1" (tabSelected)="tabSelected($event)"></BottomBar>

</GridLayout>

<!--<ScrollView>-->
    <!--<StackLayout class="form">-->
        <!--<StackLayout class="input-field">-->
            <!--<Label text="ID" class="label font-weight-bold m-b-5"></Label>-->
            <!--<TextField class="input" [(ngModel)]="input.id"></TextField>-->
            <!--<StackLayout class="hr-light"></StackLayout>-->
        <!--</StackLayout>-->
        <!--<StackLayout class="input-field">-->
            <!--<Label text="Title" class="label font-weight-bold m-b-5"></Label>-->
            <!--<TextField class="input" [(ngModel)]="input.title"></TextField>-->
            <!--<StackLayout class="hr-light"></StackLayout>-->
        <!--</StackLayout>-->
        <!--<StackLayout class="input-field">-->
            <!--<Label text="Body" class="label font-weight-bold m-b-5"></Label>-->
            <!--<TextField class="input" [(ngModel)]="input.body"></TextField>-->
            <!--<StackLayout class="hr-light"></StackLayout>-->
        <!--</StackLayout>-->
        <!--<StackLayout class="input-field">-->
            <!--<Button class="btn btn-primary w-full" text="Schedule" (tap)="schedule()"></Button>-->
        <!--</StackLayout>-->
    <!--</StackLayout>-->
<!--</ScrollView>-->